
{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<h1> Log in to our colorful world!</h1>
<br>
<p><a class="link" href="{% url 'signup' %}">Need an account?</a>
  </p>
<div class="form-group">
    <form method="post" action="{% url 'login' %}">
        {{ form.as_p }}
        {% csrf_token %}

        <div class="mb-3">
        <input type="text" class="form-control" name="username" placeholder="Enter you username"> 
        </div>

        <div class="mb-3">
          <input type="password" class="form-control" name="password" placeholder="Enter you password"> 
          </div>
        <br/><br/>
        <button class="btn btn-secondary" type="submit">Login </button>
    </form>
    <br/><br/>
    <br/><br/>
    <br/><br/>
    <br/><br/>
    <br/><br/>
    <br/><br/>
    <br/><br/>
    <br/><br/>
{% endblock content %}