{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


   <h1>Welcome to our colourful world</h1>

    <br/>
	<div class="container-fluid">
	       	    
<div class="alreadymember">Already a member? <a href="{% url 'login' %}">Login here</a></div>
<form action="{% url 'welcome' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}            
    <input type="submit" value="SignUp" class="btn btn-default" role="button"/>
</form>
</div>
{% endblock %}

<script>
    function submitForm(event) {
        event.preventDefault();
        document.forms[0].submit();  // Assuming it's the first form on the page, adjust if needed
    }
    </script>
