{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
{% load static %}


<h1>Welcome to our colourful world</h1>
<br/>
<div class="alreadymember">Already member?<a href="{% url 'register' %}">Login here</a></div>
	<div class="row">
	    <div class="col-md-12 text-center">
	  	        <hr/>
	       	    </div>
	
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary">Register</button>
    </form>
</div>

{% endblock %}