{% extends "base.html" %}
{% load crispy_forms_tags %} 

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="content-section">
<div class="container-backgroundgrey">
  <p>{% blocktrans %}Already have an account? Then please <a class="text-light" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

  <div class="container d-flex justify-content-center align-items-center">
      <form method="post" class="login" id="signup_form" action="{% url 'account_signup' %}">
          {{ form.non_field_errors | safe }}
          {% csrf_token %}
          <div class="row g-2">
            <div class="form-floating form-group">
              {{ form.username.label_tag }}
              {{ form.username }}
              <label for="{{form.id_username.id_for_label}}"></label>
              {{ form.username.errors|safe }}
          </div>
          
          <div class="form-floating form-group">
              {{ form.first_name.label_tag }}
              {{ form.first_name }}
              <label for="{{form.id_firstname.id_for_label}}"></label>
              {{ form.first_name.errors|safe }}
          </div>
          
          <div class="form-floating form-group">
              {{ form.last_name.label_tag }}
              {{ form.last_name }}
              <label for="{{form.id_lastname.id_for_label}}"></label>
              {{ form.last_name.errors|safe }}
          </div>
          
          <div class="form-floating form-group">
              {{ form.email.label_tag }}
              {{ form.email }}
              <label for="{{form.id_email.id_for_label}}"></label>
              {{ form.email.errors|safe }}
          </div>
          
          <div class="form-floating form-group">
              {{ form.password1.label_tag }}
              {{ form.password1 }}
              <label for="{{form.id_password1.id_for_label}}"></label>
              {{ form.password1.errors|safe }}
          </div>
          
          <div class="form-floating form-group">
              {{ form.password2.label_tag }}
              {{ form.password2 }}
              <label for="{{form.id_password2.id_for_label}}"></label>
              {{ form.password2.errors|safe }}
          </div>
                       <button class="btn signupbtn" type="submit"><i class="fa-solid fa-check"></i>  Sign up</button>
              </div> 
          </div>
      </form>
  </div>
  {% if form.errors %}
      {% for error in form.non_field_errors %}
          <div class="error">
              {{ error }}
          </div></div>
      {% endfor %}
  {% endif %}
  {% for message in messages %}
  {% if message.tags %}
  <div class="{{ message.tags }} message">
  {% endif %}
  {{ message }}
  </div>
  {% endfor %}
  {% endblock content %}