@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap');


/*All sites*/
body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 80px;
}

h1{
    font-family:'Dancing Script';
    margin-top: 30vh;
    display: flex;
    align-content: center;
    color: black;
    font-size: 60px;
    font-weight: bolder;
    justify-content: center;
  }
h2 {
    font-family:'Dancing Script';
    color: black;
    font-size: 12px;
    justify-content: center; 
}

h3 {
    font-family:'Montserrat';
    color: black;
    font-size: 12px;
    justify-content: center;    
   }

   h4 {
    font-family:'Montserrat';
    color:black;
    font-size: 10px;
    font-style: italic;
    justify-content: center;    

   }

   h5 {
    font-family:'Montserrat';
    color:black;
    font-size: 8px;
    font-style: italic;
    justify-content: center;    

   }
/*Base.html: Header*/
header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 80px;
    width: 100%;
    z-index: 1000;
    top: 0;
}

/*Base.html:Logotype*/
.navbar-brand img {
    justify-content: flex-start;
    width: 300px;
    padding-bottom: 30px;
}
/*Base.html:Logotype*/
.navbar {
    margin-right: 20px; 
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #1A313C;
    font-size: 18px;
    font-weight: bold;
    justify-content: flex-end;
}
/*Index.html:Logotype*/

.heroimg {
    width: 100%;
}
/*Aboutartspot.html*/
.flip-card {
    box-sizing: border-box; /* Include padding and border in the total width and height */
    width: 100%; /* Use percentage for responsiveness */
    max-width: 500px; /* Set a maximum width if needed */
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

.row justify-content-center {
    display: flexbox;
}

  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: #545454;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #545454;
    color: white;
    transform: rotateY(180deg);
     }



/*Signup.html:*/
.link,
.link:hover,
.link:active {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.form-group {
    padding-top: 15vh;
    padding-bottom: 15vh;
    font-size: 12px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #545454;
}

.memberbtn{
    background-color: pink;
    font-size: 14px;
}

span.helptext {
    font-style: italic;
    font-size: 10px;
}



button.btn.btn-signup.right {
    background-color: #445261;
    color: #fff;
    font-size: 16px;
}
.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.containerform {
    width: 100%;
    margin-top: 16vh;

}
.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}


.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

@media screen and (max-width: 600px){

/*Logotype*/
.navbar-brand img {
    width: 157px;
    margin-top: -127px;
}
.text-box {
    width: 100%; 
}
h2 {
    font-family:'Montserrat';
    color: black;
    font-size: 12px;
    font-weight:bold;    
}

h3 {
    font-family:'Montserrat';
    font-size: 12px;
    font-style: italic;
   }

}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-nav .nav-link {
        display: flex;
        margin-left: 4vw;
        padding-right: var(--bs-navbar-nav-link-padding-x);
        padding-left: var(--bs-navbar-nav-link-padding-x);
 } 

}
@media screen and (max-width: 1200px)
{
    
}