@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap');

body {
    font-family: 'Montserrat', sans-serif; 
}
h1, h3 {
    color: #545454;
    font-size: 18px;
    font-weight: bold;
}

 .nav justify-content-end{
    height: 15vh;  
 }
 .nav-link {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: bold;
    color: black;
 }

 .nav-bar:hover{
    text-decoration: none;
    color: black;
}

.nav-bar:visited{
    text-decoration: none;
    color: black;
}

.fa-brands {
    color: black;
}
.list-inline-item{
    justify-content: center;
}

/* INDEX.HTML */
/* Heroimage */
.hero {
    width: 100%;
   }


.nav-bar:hover{
    text-decoration: none;
    color: #EFB542;
}