{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art.Spot</title>
</head>
<body>
    <img srcset="https://res.cloudinary.com/dj9sie6nl/image/upload/v1702379784/Artspot/artspot_logotype.png"
    alt="logtype">
    <h1>Add an artwork</h1>
    <form method="POST" action="{% url 'add_artwork' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <button type="submit">Show the world!</button>
        </div>
    </form>
    
    
</body>
</html>
