{% extends 'base.html' %}
{% block content %}
{% load static %}


<h1> Marketplace</h1>


    <table>
        {% for artwork in artworks %}
            <tr>
                <td>{{ artwork.artist }}</td>
                <td>{{ artwork.category }}</td>
                <td>{{ artwork.medium }}</td>
                <td>{{ artwork.price }}</td>

                <td>
                    <a href="/edit/{{ artwork.id }}">
                        <button type="button" class="btn btn-secondary">Edit</button>
                    </a>
                <td>
                    <a href="/delete/{{ artwork.id }}">
                        <button type="button" class="btn btn-secondary">Edit</button>
                    </a>
                    </td>
            </tr>
        {% endfor %}
    </table>
    <a href="/add">Add a product to the marketplace</a>
</body>
</html>

{% endblock %}