{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art.Spot</title>
</head>
<body>
    <img srcset="https://res.cloudinary.com/dj9sie6nl/image/upload/v1702379784/Artspot/artspot_logotype.png"
    alt="logtype">
    <h1>Available artworks</h1>

    <table>
        {% for artwork in artworks %}
            <tr>
                <td>{{ artwork.name }}</td>
                <td>{{ artwork.artist }}</td>
                <td>{{ artwork.category }}</td>
                <td>{{ artwork.medium }}</td>
                <td>{{ artwork.price }}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="/add">Add an artwork</a>
</body>
</html>
