{% load static %}
{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand"> <img src="{% static 'images/logotype_artspot.webp' %}" alt="Logotype Artspot" class="logotype"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About ArtSpot</a></li>

                {% if user %}

                <li class="nav-item {% ifequal request.path '/blog/' %}active{% endifequal %}">
                    <a class="nav-link" href="{% url 'blog' %}">Blog</a>

                </li>
                </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="{% url 'market' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">ArtMarket</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="{% url 'category' 'abstract' %}">Abstract</a></li>
                            <li><a class="dropdown-item" href="{% url 'category' 'faces' %}">Faces</a></li>
                            <li><a class="dropdown-item" href="{% url 'category' 'homedecor' %}">Home Decor</a></li>
                            <li><a class="dropdown-item" href="{% url 'category' 'artsupply' %}">ArtSupply</a></li>
                            <li><a class="dropdown-item" href="{% url 'category' 'animals' %}">Animals</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'signout' %}" class="nav-link">LogOut</a>


                

                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">LogIn</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">SignUp</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>